.Background-img {
  height: 1000px;
  background: url(./img/orc-and-humans-img.png) rgba(0, 0, 0, 0.855); /* Прописываем путь к картинке и задаем цвет и прозрачность */
  background-size: cover; 
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  text-align: center; /* Текст по центру */
  color: #fff; /* Цвет текста */
  padding: 10px 0; /* Отступ сверху и снизу */
}

.Main-title {
  display: grid;
  background: linear-gradient(to left,
                                    rgb(255, 255, 255, 0),
                                    rgba(30, 144, 255, 0.3), 
                                    rgb(255, 255, 255, 0));
  height: 60px;
  align-content: center;
}

.Main-container {
  display: grid;
  grid-auto-flow: row;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 4px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 5px;
  margin: 2px;
  padding: 5px;
}

.Field {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.Field-container {
  display: grid;
  grid-auto-flow: column;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 4px;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  gap: 5px;
  margin: 2px;
  padding: 5px;
}

.Field-title {
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 2px;
  padding: 5px;
}

.Log-title {
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 2px;
  padding: 5px;
}

.Log {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.Log-container {
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 2px;
  padding: 5px;
}

.cell {
  display: grid;
  /*background-color: cadetblue;*/
  width: 40px;
  height: 40px;
  border-radius: 2px;
  justify-items: center;
  align-items: center;
}


.title_cell {
  display: grid;
  background-color: rgb(171, 204, 204, 0.1);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  justify-items: center;
  align-items: center;
  font-weight: bold;
}